# API Config
APP_API_KEY=

#CORS Config
CORS_ORIGIN=http://localhost:3000
CORS_METHODS=GET,POST,PUT,DELETE
CORS_ALLOWED_HEADERS=Content-Type,X-API-KEY,Authorization

#Blockchain Config
PORT=8001
RPC_URL=http://127.0.0.1:8545 
VALIDATOR_PRIVATE_KEY=
CONTRACT_ADDRESS=
CHAIN_ID=1337