API_KEY=

# app
APP_PORT=3000

# cors
CORS_ORIGIN=http://127.0.0.1:8000
CORS_METHODS=GET,POST,HEAD,PUT,PATCH,DELETE
CORS_ALLOWED_HEADERS=Content-Type,Accept,x-api-key

#Blockchain Config
BLOCKCHAIN_PORT=8001
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8546
BLOCKCHAIN_VALIDATOR_PRIVATE_KEY=
BLOCKCHAIN_CONTRACT_ADDRESS=
BLOCKCHAIN_CHAIN_ID=1337